<div class="menusContentCenter" id="dashboard">
    <div id="boxInfoPeriodical">
        <div id="boxChangeInfoPeriodical">
            <div id="flexElementsChangeInfoPeriodical">
                <div class="elementChangeInfoPeriodical">
                    <p>Hoje</p>
                </div>
                <div class="elementChangeInfoPeriodical">
                    <p>Semanalmente</p>
                </div>
                <div class="elementChangeInfoPeriodical">
                    <p>Mensalmente</p>
                </div>
            </div>
        </div>

        <div id="content_boxInfoPeriodical">
            <div id="flexCardsInfo">
                <div id="cardNumberInfo">
                    <p>Vendas totais</p>
                    <p>120</p>
                </div>

                <div id="box_flexCardsProducts">
                    <p>Produtos mais vendidos</p>
                    <div id="flexCardsProducts">
                        <app-element-flex-cards-products></app-element-flex-cards-products>
                        <app-element-flex-cards-products></app-element-flex-cards-products>
                        <app-element-flex-cards-products></app-element-flex-cards-products>
                    </div>
                </div>
            </div>
            <div id="box_salesChart">
                <div id="header_salesChart">
                    <h2>Grafico de vendas</h2>
                </div>
                <div id="content_salesChart">
                </div>
            </div>
            <div id="infoAboutManageCashRegister">
                <div id="header_infoAboutManageCashRegister">
                    <h2>Informações sobre os caixas</h2>
                </div>
                <div id="content_infoAboutManageCashRegister">
                    <div id="header_content_infoAboutManageCashRegister">
                        <p>Nome do caixa</p>
                        <p>Total de vendas</p>
                    </div>
                    <div class="flexBox_infoAboutManageCashRegister">
                        <div class="elementBox_infoAboutManageCashRegister">
                            <img src="../../../assets/cashRegister_icon.svg" alt="">
                            <h2>Caixa 1</h2>
                        </div>
                        <div class="boxTotal_infoAboutManageCashRegister">
                            <h2>500</h2>
                        </div>
                    </div>
                    <div class="flexBox_infoAboutManageCashRegister">
                        <div class="elementBox_infoAboutManageCashRegister">
                            <img src="../../../assets/cashRegister_icon.svg" alt="">
                            <h2>Caixa 1</h2>
                        </div>
                        <div class="boxTotal_infoAboutManageCashRegister">
                            <h2>500</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="infoSideDashboard">
        <div id="boxTotalMoney">
            <p>Total de dinheiro sob as vendas</p>
            <div id="content_boxTotalMoney">
                <h1>R$ 22.456,20</h1>
                <p>Segunda, março, 2023</p>
            </div>
        </div>
        <div id="boxRecentActivity">
            <div id="header_boxRecentActivity">
                <h2>Atividade recente</h2>
            </div>
            <div id="content_boxRecentActivity">
                <div class="element_boxRecentActivity">
                    <div class="imageInfo_boxRecentActivity">
                        <img src="../../../assets/productBase.png" alt="">
                        <div class="contentInfo_boxRecentActivity">
                            <h2>Produto adicionado</h2>
                            <h2>Leite integral</h2>
                        </div>
                    </div>
                    <div class="date_boxRecentActivity">
                        <h2>12/02/2020</h2>
                        <h2>12:23</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>