<app-login *ngIf="!isLoggedIn" (userLoggedIn)="onUserLoggedIn($event)"></app-login>

<div *ngIf="isLoggedIn" id="conteinerMain">
  <div id="menuBar">
    <div id="profileIndicator">
      <img src="../assets/baseProfile.png" alt="">
    </div>

    <div id="flexChangeMenu">
      <div *ngIf="permissionsArray[3] == 1" class="boxChangeMenu" [class.isSelected]="selectMenu === 0" (click)="selectBox(0)">
        <img src="../assets/home.svg" alt="">
      </div>

      <div class="boxChangeMenu" [class.isSelected]="selectMenu === 1" (click)="selectBox(1)">
        <img src="../assets/emission_icon.svg" alt="">
      </div>

      <div *ngIf="permissionsArray[0] == 1" class="boxChangeMenu" [class.isSelected]="selectMenu === 2" (click)="selectBox(2)">
        <img src="../assets/manageProducts.svg" alt="">
      </div>

      <div *ngIf="permissionsArray[3] == 1" class="boxChangeMenu" [class.isSelected]="selectMenu === 3" (click)="selectBox(3)">
        <img src="../assets/cashRegister_icon.svg" alt="">
      </div>
    </div>

    <div class="boxChangeMenu" [class.isSelected]="selectMenu === 4" (click)="selectBox(4)">
      <img src="../assets/config.svg" alt="">
    </div>

    <img (click)="loggedOut()" src="../assets/logotype.svg" alt="">
  </div>

  <div id="contentCenter">
    <div id="headerContentCenter">
      <div id="headerIconContent">
        <div class="headerMenus" *ngIf="selectMenu === 0">
          <img src="../assets/home.svg" alt="">
          <h2>Dashboard</h2>
        </div>
        <div class="headerMenus" *ngIf="selectMenu === 1">
          <img src="../assets/emission_icon.svg" alt="">
          <h2>Emitir</h2>
        </div>
        <div class="headerMenus" *ngIf="selectMenu === 2">
          <img src="../assets/manageProducts.svg" alt="">
          <h2>Gerenciar Produtos</h2>
        </div>
        <div class="headerMenus" *ngIf="selectMenu === 3">
          <img src="../assets/cashRegister_icon.svg" alt="">
          <h2>Gerenciar Caixas</h2>
        </div>
      </div>
      <app-log-message-panel></app-log-message-panel>
    </div>
    <app-menu-dashboard *ngIf="selectMenu === 0"></app-menu-dashboard>
    <app-menu-emission-product *ngIf="selectMenu === 1"></app-menu-emission-product>
    <app-menu-manage-products *ngIf="selectMenu === 2"></app-menu-manage-products>
    <app-menu-manage-cash-register *ngIf="selectMenu === 3"></app-menu-manage-cash-register>
  </div>
</div>