<div class="boxTableSalesCashRegister">
    <div class="header_boxTableSalesCashRegister">
        <h2>{{data}}</h2>
        <h2>{{hourData}}</h2>
    </div>
    <div class="content_boxTableSalesCashRegister">
        <div class="scrollProductContent_boxTableSalesCashRegister">
            <app-product-content-box-table-sales-cash-register
                *ngFor="let product of idProducts; let i = index" [startIndex]="i" [idProduct]="product"
                [productSold]="productsSold" [quantitityProduct]="quantitityProducts" [productData]="productData"></app-product-content-box-table-sales-cash-register>
        </div>
        <div class="divide_content_boxTableSalesCashRegister"></div>
        <div class="info_content_boxTableSalesCashRegister">
            <div class="totalType_info_content_boxTableSalesCashRegister">
                <h2>Total de <span>{{countProduct}}</span> produtos.</h2>
                <h2>Tipo de pagamento: <span>{{typePagament}}</span></h2>
            </div>
            <h1>{{totalAmountProducts}}</h1>
        </div>
    </div>
</div>