<div class="boxTableSalesCashRegister">
    <div class="header_boxTableSalesCashRegister">
        <h2>12/02/2023</h2>
        <h2>12:23</h2>
    </div>
    <div class="content_boxTableSalesCashRegister">
        <div class="scrollProductContent_boxTableSalesCashRegister">
            <app-product-content-box-table-sales-cash-register></app-product-content-box-table-sales-cash-register>
            <app-product-content-box-table-sales-cash-register></app-product-content-box-table-sales-cash-register>
            <app-product-content-box-table-sales-cash-register></app-product-content-box-table-sales-cash-register>
        </div>
        <div class="divide_content_boxTableSalesCashRegister"></div>
        <div class="info_content_boxTableSalesCashRegister">
            <div class="totalType_info_content_boxTableSalesCashRegister">
                <h2>Total de <span>12</span> produtos.</h2>
                <h2>Tipo de pagamento: <span>Cartão de crédito</span></h2>
            </div>
            <h1>R$ 14,00</h1>
        </div>
    </div>
</div>